<div class="sidebar">
        
            
        <div class="sidebar-section">
            <h5><span>Useful Links</span></h5>
            <ul style="list-none;">
				<li><a target="blank" href="/product-overview/">Scalable Inventory Platform</a></li>
				<li><a target="blank" href="/implementation-overview/">Implementation</a></li>
				<li><a target="blank" href="/blog">Blog</a></li>
				<li><a target="blank" href="/contact">Contact Us</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Why Serover Scalable Inventory?</span></h5>
             <ul style="list-none;">
				<li><a target="blank" href="/product-overview/">Cloud native architecture</a></li>
				<li><a target="blank" href="/product-overview/">Scales on Demand</a></li>
				<li><a target="blank" href="https://dhadkara.github.io/serverless-inventory-apis/">Well-defined API's</a></li>
				<li><a target="blank" href="/product-overview/">Seamless Integration</a></li>
            </ul>
        </div>
            
</div>